GOOGLE_API_KEY="your_google_api_key_here"
GROQ_API_KEY="your_groq_api_key_here"

# The database URL for the docker-compose postgres instance
DATABASE_URL="postgresql://user:password@db:5432/sql_texter"

AWS_ACCESS_KEY_ID="your_aws_access_key_here"
AWS_SECRET_ACCESS_KEY="your_aws_secret_key_here"
AWS_REGION_NAME="us-east-1"

# Required by Pydantic Settings
AI_API_KEY="your_ai_api_key_here"
